# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS folder
.vs/

# Binaries
bin/

# .sln file
Localization.sln

# Assets
!LocalizationUtils.exe

# Intermediate
assets/intermediate

# Configuration file
assets/localization_utils_settings.json
