name: CI


on:
  push:
    branches: [master, dev]


permissions:
  contents: write


jobs:
  windows-build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
  
    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0

    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCMAKE_INSTALL_PREFIX=install-dir -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: build/install-dir
        name: ${{ matrix.configuration }}_Windows


  linux-build:
    runs-on: ubuntu-latest
    container:
      image: lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCMAKE_INSTALL_PREFIX=install-dir -G "Ninja" ..
          cmake --build . -j
          cmake --instlal .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: build/install-dir
        name: ${{ matrix.configuration }}_Linux


  linux-aarch64-build:
    runs-on: ubuntu-latest
    container:
      image: lazypanda07/ubuntu_cxx20:aarch64
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCMAKE_INSTALL_PREFIX=install-dir -DCMAKE_TOOLCHAIN_FILE=../toolchain-aarch64.cmake -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: build/install-dir
        name: ${{ matrix.configuration }}_LinuxARM


  windows-tests:
    runs-on: windows-latest
    needs: windows-build
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        path: Localization
        name: ${{ matrix.configuration }}_Windows
        
    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0

    - name: Build tests
      working-directory: Tests
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Copy localization_modules.json
      shell: bash
      run: cp localization_modules.json Tests/build/bin
    
    - name: Tests
      working-directory: Tests
      run: |
          python tests.py ${{ matrix.configuration }}
          cd build/bin
          .\Tests.exe


  linux-tests:
    runs-on: ubuntu-latest
    needs: linux-build
    container:
      image: lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
  
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        path: Localization
        name: ${{ matrix.configuration }}_Linux
        
    - name: Build tests
      working-directory: Tests
      run: |
          chmod +x ../assets/Linux/LocalizationUtils
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Copy localization_modules.json
      run: cp localization_modules.json Tests/build/bin
    
    - name: Tests
      working-directory: Tests
      run: |
          python3 tests.py ${{ matrix.configuration }}
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} ./Tests


  linux-aarch64-tests:
    runs-on: ubuntu-latest
    needs: linux-aarch64-build
    container:
      image: lazypanda07/ubuntu_cxx20:aarch64
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
  
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        path: Localization
        name: ${{ matrix.configuration }}_LinuxARM
        
    - name: Build tests
      working-directory: Tests
      run: |
          chmod +x ../assets/LinuxARM/LocalizationUtils
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Copy localization_modules.json
      run: cp localization_modules.json Tests/build/bin
    
    - name: Install packages
      run: | 
          sudo apt update
          sudo apt install -y python3 python3-pip python3-venv locales locales-all
          sudo localedef -f CP1251 -i ru_RU ru_RU.CP1251

    - name: Tests
      working-directory: Tests
      shell: bash
      run: |
          python3 -m venv .venv
          source .venv/bin/activate
          python3 tests.py ${{ matrix.configuration }}
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} qemu-aarch64 ./Tests


  memory-leak-tests:
    runs-on: ubuntu-latest
    needs: linux-build
    container:
      image: lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
  
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        path: Localization
        name: ${{ matrix.configuration }}_Linux
        
    - name: Build tests
      working-directory: Tests
      run: |
          chmod +x ../assets/Linux/LocalizationUtils
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Copy localization_modules.json
      run: cp localization_modules.json Tests/build/bin

    - name: Run python test
      working-directory: Tests
      run: python3 tests.py ${{ matrix.configuration }}

    - name: Memory leak test
      uses: LazyPanda07/check-memory-leaks@v1.4
      with:
        path: Tests/build/bin
        name: Tests
        pre-execute: export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:$(pwd)
  

  publish:
    runs-on: ubuntu-latest
    needs: [windows-tests, linux-tests, linux-aarch64-tests, memory-leak-tests]

    steps:
    - uses: actions/checkout@v4
  
    - uses: LazyPanda07/extract-current-branch@master
    
    - name: Setup release version variable
      shell: pwsh
      run: echo "VERSION=$($($($(Select-String -Path .\src\MultiLocalizationManager.cpp -Pattern version) -split '( = )')[3].TrimEnd(';')).Trim('\"'))" >> $Env:GITHUB_ENV

    - name: Download artifacts
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      uses: actions/download-artifact@v4
      
    - name: Setup Windows build list
      run: echo "WINDOWS_BUILD_LIST="$(ls | grep Windows)"" >> ${GITHUB_ENV}
      
    - name: Create Windows zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r windows.zip ${{ env.WINDOWS_BUILD_LIST }}

    - name: Create Linux zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r linux.zip Release_Linux

    - name: Create Linux ARM zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r linux_aarch64.zip Release_LinuxARM

    - name: Publish
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: gh release create v${{ env.VERSION }} *.zip --title v${{ env.VERSION }} --generate-notes
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
